body{
    background-color: #F3F3F3;
    padding-top: 4.4em;
}
/* Navbar */
.navbar-custom {
	font-size: 1.1em;
    font-weight: 500;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #003366;
    font-weight: 500;
}
.navbar {
	background-color: #F3F3F3;
	position: fixed;
}
/* Navbar end */
/* Buttons */
.btn-outline-success{
	color: #000;
}
.ctaButton, .submitbutton {
	background-color: #007ed0;
	color: #ffffff;
	border-color: #007ed0;
	font-weight: 500;
}
.navctaButton {
    margin-right: 0.5em;
}
.signinButton {
	background-color: #fff;
	color: #003366;
	border-color: #003366;
	font-weight: 500;
    margin-top: 1em;
    position: relative;
}
.ctaButton:hover, .signinButton:hover, .submitbutton:hover {
	background-color: #000;
	border-color: #000;
	color: #fff;
    font-weight: 500;
}

.signinButton:active, .signinButton:focus {
	box-shadow: 0 0 0 0.1rem #003366;
}
.ctaButton:active, .ctaButton:focus {
	box-shadow: 0 0 0 0.1rem #006bba;
}
/* Buttons end */
/* Jumbotrons */
.jumbotron, .jumbotron-fluid {
	color: #fff;
	margin: 0;
    border-radius: 0;
}
.jumbotron-custom-home {
    padding-top: 20em;
    padding-bottom: 20em;
    background: rgb(0,30,60);	
    background: linear-gradient(90deg, rgba(0,30,60,1) 0%, rgba(0,51,102,1) 35%, rgba(0,80,161,1) 100%);
}
.jumbotron-custom-about {
    padding-top: 20em;
    padding-bottom: 20em;
    color: black;
    background: #f5f5f5;
}
.jumbotron-custom-contact {
    padding-top: 10em;
    padding-bottom: 10em;
    background: rgb(0,30,60);	
    background: linear-gradient(90deg, rgba(0,30,60,1) 0%, rgba(0,51,102,1) 35%, rgba(0,80,161,1) 100%);
}
/* Jumbotrons end */
.display-5 {
    font-weight: 100;
}
/* Footer */
footer {
	background-color: #F3F3F3;
	padding-bottom: 3em;
	padding-top: 3em;
}
footer ul {
	list-style-type: none;
	padding: 0;
}
footer a {
	color: black;
}
.copyright {
	float: right;
}
/* Footer end */
.ctaimg {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: .2em;
}
.contact-list {
    list-style: none;
}
.contact-list a {
    text-decoration: none;
    color: white;
}
.contact-list a:hover {
    color: black;
}
.footernav a {
    text-decoration: none;
}

.welcome {
    padding-bottom: 6px;
    margin-right: 0.5em;
}
@media (max-width: 768px) {
  [class*="col-"] {
      margin-bottom: 5em;
  }
}
@media (max-width:992px){
    nav{
        text-align: center;
    }
    .navctaButton {
    margin-right: auto;
    display:block;
    }
    .signupButton, .signinButton{
        display: block;
        margin-right: 0;
        margin-bottom: 5em;
        margin-top: 5em;}
    body{
        background-color: #F3F3F3;
        padding-top: 4.2em;
        }
}