body{
    background-color: #F3F3F3;
    padding-top: 4.4em;
}
.navbar-custom {
	font-size: 1.1em;
    font-weight: 500;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #003366;
    font-weight: 500;
}
.dashboard{
    display:inline-block;
}
.navbar {
	background-color: #F3F3F3;
	position: fixed;
    box-shadow: 0 2px 2px -2px black;
}

footer {
	background-color: #F3F3F3;
	padding-bottom: 3em;
	padding-top: 3em;
}
footer ul {
	list-style-type: none;
	padding: 0;
}
footer a {
	color: black;
}
.copyright {
	float: right;
}
.ctaimg {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: .2em;
}
@media (max-width: 768px) {
  [class*="col-"] {
      margin-bottom: 5em;
  }
    .navbar-brand {
        justify-content: center;
        margin:auto;
    }
}
@media (max-width:992px){

}